@{
    ViewBag.Title = "Promociones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-space">
    <div class="container">

        <h2 class="text-center mb-4">Promociones</h2>

        <!-- BOTÓN AGREGAR -->
        <div class="text-end mb-3">
            <a href="@Url.Action("Crear", "Promociones")" class="btn btn-dark">+ Nueva Promocion</a>
        </div>

        <table class="table table-bordered proveedores-table">
            <thead class="table-warning">
                <tr>
                    <th>Descripcion</th>
                    <th>Vigencia</th>
                    <th>%Descuento</th>
                    <th>Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>

                <!-- FILA 1 -->
                <tr>
                    <td>2X1 en perfumes</td>
                    <td>valido de 01/02/2026 - 28/02/2026</td>
                    <td>30%</td>
                    <td>Activo</td>
                    <td class="text-center">
                        <!-- Enlaces de acciones -->
                        <a href="@Url.Action("Detalles", "Proveedores", new { id = 1 })" class="btn-accion">Ver</a>
                        <a href="@Url.Action("Editar", "Proveedores", new { id = 1 })" class="btn-accion">Editar</a>
                        <a href="@Url.Action("Desactivar", "Proveedores", new { id = 1 })" class="btn-accion">Desactivar</a>
                    </td>
                </tr>

                <!-- FILA 2 -->
                <tr>
                    <td>Descuento en cartera de mano</td>
                    <td>valido de 01/01/2026 hasta agotar existencias</td>
                    <td>40%</td>
                    <td>Inactivo</td>
                    <td class="text-center">
                        <!-- Enlaces de acciones -->
                        <a href="@Url.Action("Detalles", "Proveedores", new { id = 2 })" class="btn-accion">Ver</a>
                        <a href="@Url.Action("Editar", "Proveedores", new { id = 2 })" class="btn-accion">Editar</a>
                        <a href="@Url.Action("Desactivar", "Proveedores", new { id = 2 })" class="btn-accion">Activar</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</section>
