@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - BeautyGlam</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Vendor -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/fancybox.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
</head>

<body>

    <!--== Wrapper Start ==-->
    <div class="wrapper">

        <!--================= HEADER =================-->
        <header class="header-area sticky-header">
            <div class="container">
                <div class="row align-items-center">

                    <!-- LOGO -->
                    <div class="col-5 col-sm-6 col-lg-3">
                        <div class="header-logo">
                            <a href="@Url.Action("Index","Home")">
                                <img class="logo-main" src="~/assets/images/logo.webp" width="95" height="68" alt="Logo" />
                            </a>
                        </div>
                    </div>

                    <!-- NAVIGATION DESKTOP -->
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="header-navigation">
                            <ul class="main-nav justify-content-start">

                                <!-- Páginas principales -->
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="@Url.Action("Product","Shop")">Shop</a></li>
                                <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                                <li><a href("@Url.Action("Contact","Home"))>Contact</a></li>

                                <!-- ===================== MÓDULO ADMIN ===================== -->
                                <li><a href="@Url.Action("Index","Usuarios")">Usuarios</a></li>
                                <li><a href="@Url.Action("Index","Roles")">Roles</a></li>
                                <li><a href="@Url.Action("Index","Permisos")">Permisos</a></li>
                                <li><a href="@Url.Action("Index","Proveedores")">Proveedores</a></li>
                                <li><a href="@Url.Action("Index","Productos")">Productos</a></li>
                                <li><a href="@Url.Action("Index","Reportes")">Productos</a></li>

                                <!-- =========================================================== -->
                                <!-- ===================== AUTENTICACIÓN ===================== -->
                                <li><a href="@Url.Action("Login","Account")">Login</a></li>
                                <li><a href="@Url.Action("Register","Account")">Registro</a></li>
                                <li><a href="@Url.Action("Recuperar","Account")">Recuperar</a></li>
                                <!-- =========================================================== -->
                                <!-- ===================== MÓDULO PERFIL ===================== -->
                                <li><a href="@Url.Action("Index","Perfil")">Perfil</a></li>
                                <!-- =========================================================== -->
                                <!-- ===================== WISHLIST ===================== -->
                                <li><a href="@Url.Action("Index","Wishlist")">Wishlist</a></li>
                                <!-- =========================================================== -->
                                <!-- ===================== WISHLIST ===================== -->
                                <li><a href="@Url.Action("Index","Inventario")">Inventario</a></li>
                                <li><a href="@Url.Action("Avanzado","Inventario")">Avanzado</a></li>
                                <li><a href="@Url.Action("Movimientos","Inventario", new { id = 1 })">Movimientos</a></li>
                                <!-- =========================================================== -->
                                <!-- ===================== WISHLIST ===================== -->
                                <li><a href="@Url.Action("Index","Catalogo")">Catálogo</a></li>
                                <!-- =========================================================== -->
                                <!-- ===================== ASISTENTE DE TONO ===================== -->
                                <li><a href="@Url.Action("Index","AsistenteTono")">Asistente de Tono</a></li>
                                <!-- ============================================================= -->
                                <!-- ===================== ASISTENTE DE SKINCARE ===================== -->
                                <li><a href="@Url.Action("Index","AsistenteSkincare")">Asistente Skincare</a></li>
                                <li><a href="@Url.Action("Cuestionario","AsistenteSkincare")">Cuestionario Skincare</a></li>
                                <li><a href="@Url.Action("Rutina","AsistenteSkincare")">Rutina Personalizada</a></li>
                                <li><a href="@Url.Action("PasoAPaso","AsistenteSkincare")">Rutina Paso a Paso</a></li>
                                <li><a href="@Url.Action("Repeticion","AsistenteSkincare")">Repetir Diagnóstico</a></li>
                                <!-- ================================================================ -->
                                <!-- ===================== BLOG DE BELLEZA ===================== -->
                                <li><a href="@Url.Action("Index","BlogBelleza")">Blog Belleza</a></li>
                                <li><a href="@Url.Action("Publicar","BlogBelleza")">Publicar</a></li>
                                <!-- =========================================================== -->
                            </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- ICONOS HEADER -->
                    <div class="col-7 col-sm-6 col-lg-3">
                        <div class="header-action justify-content-end">

                            <!-- Login Icon -->
                            <a class="header-action-btn" href="@Url.Action("Login","Account")">
                                <i class="fa fa-user"></i>
                            </a>

                            <!-- Menú móvil -->
                            <button class="header-menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu">
                                <span></span><span></span><span></span>
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!--================= END HEADER =================-->
        <!--=============== CONTENIDO DE CADA PÁGINA ===============-->
        @RenderBody()
        <!--=========================================================-->
        <!--================= FOOTER =================-->
        <footer class="footer-area">
            <div class="footer-main">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-lg-4">
                            <div class="widget-about">
                                <a class="widget-logo" href="@Url.Action("Index","Home")">
                                    <img src="~/assets/images/logo.webp" width="95" height="68" alt="Logo">
                                </a>
                                <p class="desc">BeautyGlam - Your beauty, our passion.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5">
                            <h4 class="widget-title">Information</h4>
                            <ul class="widget-nav">
                                <li><a href="@Url.Action("Blog","Home")">Blog</a></li>
                                <li><a href="@Url.Action("About","Home")">About us</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                <li><a href="@Url.Action("Product","Shop")">Shop</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="widget-title">Social Info</h4>
                            <div class="widget-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p class="copyright">
                    © 2025 BeautyGlam. All Rights Reserved.
                </p>
            </div>
        </footer>
        <!--================= END FOOTER =================-->

    </div>
    <!--== Wrapper End ==-->
    <!-- JS Vendors -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins -->
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/fancybox.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>

    <!-- Main -->
    <script src="~/assets/js/main.js"></script>

</body>
</html>